<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>

  <title>Member Page</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
</head>
<body>
<div class="container is-max-desktop">
  <section class="section">
    <div class="box is-flex is-flex-direction-column py-6 has-background-white-bis is-shadowless">
      <div class="block is-flex is-align-content-center is-justify-content-center">
        <h1 class="title">사용자 페이지</h1>
      </div>

      <div class="my-5 px-6">
        <h5 class="title is-5 mb-3">이메일</h5>
        <p th:text="${email}">이메일</p>
      </div>
      <div class="my-5 px-6">
        <h5 class="title is-5 mb-3">닉네임</h5>
        <p th:text="${nickname}">닉네임</p>
      </div>

      <div class="block is-flex is-align-content-center is-justify-content-center">
        <a href="/" class="button">돌아가기</a>
      </div>
    </div>
  </section>
</div>
</body>
</html>